## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Sao Filipe,CV,75.72,broken clouds,14.8961,-24.4956,Hotel Xaguate
1,5,Kapaa,US,75.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,9,Balabac,PH,82.42,overcast clouds,7.9868,117.0645,Batalla’s Lodging House
3,10,Padang,ID,77.85,overcast clouds,-0.9492,100.3543,Mercure Padang
4,15,Wanning,CN,80.40,overcast clouds,18.8003,110.3967,Paradise Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F </dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Carballo']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Carballo']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Vila']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Lata'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Cascais'] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
94,291,Carballo,ES,81.82,broken clouds,43.213,-8.691,Pazo do Souto

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0, 5:7].to_numpy()
end = vacation_end.iloc[0, 5:7].to_numpy()
stop1 = vacation_stop1.iloc[0, 5:7].to_numpy()
stop2 = vacation_stop2.iloc[0, 5:7].to_numpy()
stop3 = vacation_stop3.iloc[0, 5:7].to_numpy()

start

array([43.213, -8.691], dtype=object)

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(39.39, 8.22), zoom_level=7)

carballo = start
vila = stop1
lata = stop2
cascais = stop3

directions_layer = gmaps.directions_layer(carballo, carballo, waypoints=[vila, lata, cascais], travel_mode='DRIVING')

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,291,Carballo,ES,81.82,broken clouds,43.2130,-8.6910,Pazo do Souto
1,96,Vila,PT,85.69,clear sky,42.0304,-8.1588,Hotel Castrum Villae by Walk Hotels
2,285,Lata,PT,85.50,clear sky,40.1629,-8.3327,Casa Maquia
3,395,Cascais,PT,87.66,few clouds,38.6979,-9.4215,Hotel Vila Galé Cascais

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F </dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(directions_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))